<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2 id="name">sdafsdfsdfsdf</h2>

      <div><span id="res">6456464646</span></div>
       <ul>
           <li>dddd</li>
           <li>dddd</li>
           <li>dddd</li>
           <li>dddd</li>
           <li>dddd</li>
       </ul>

<script>
//    var bb = 'hello';
//    con sole.log(bb);
    //驼峰是命名
    //var fullName
    //console.log(fullName); //返回来的是undefined  逻辑判断里就是false
    //console.log(fullName+2); //返回来的是NAN 也就是数字类型
    //判断变量类型用typeof
//    console.log(typeof(fullName));
//    var weather = '晴天';
//    var temperature = 29;
    // && 两个条件必须都为真    || 一个条件为真就可以
//    if((weather === '晴天')||(temperature <= 28)){
//        alert('心情很好');
//    }else{
//        alert('心情糟糕');
//    }
//
//    for(var i= 0; i < 10 ; i++)
//    {
//       if (i % 2 === 0){...
//           continue; //跳过当前循环继续下次循环
//       }
//       console.log(i);
//    }
//
//    var beyond = {
//        name:"启蒙",
//        age :"11",
//        artist:['男人','女人 ','两性人']
//    };
//    //便利0
//    beyond.showArtist = function () {
//        for (var i = 0; i < this.artist.length; i++) {
//            document.writelen(this.artist[i]);
//        }
//
//        //beyond.showArtist()
//
//    }
//    beyond.showArtist();
//    console.log(beyond)
     //dom    操作对象

        //document.getElementById()  通过id获取元素
      // var va = document.getElementById('res');

       //var vb  = document.getElementsByClassName('li')

        //console.log(vb);


    54545


</script>
</body>
</html>